<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Образовательные учреждения</h1>
          <p class="col-md-8 fs-4">НИУ МАИ</p>
          <p>В 2022 году я окончил МАИ, получил диплом бакалавра по направлению "прикладная математика и информационные технологии".</p>
          <p>За 4 года обучения я получил большое количество опыта изучения и применения различных языков программирования и математических инструментов.</p>
          <p>На языке Python мной написан бэкенд с использованием фреймворка Django, а также реализованы нейросети с применением различных библиотек(NumPy, Keras, SkLearn, PyTorch, TensorFlow).</p>
          <p>На языке С++ мной освоены основы ООП, проведена работа с потоками, изучены и реализованы алгоритмы сортировок и структуры данных.</p>
          <p>Я также Проводил вычисления на ГПУ с применением технологий CUDA для обработки изображений.</p>
          <p>Также в процессе обучения я освоил некоторые дополнительные языки программирования(Lisp, Prolog, R).</p>
          <p>Среди предметов, изучаемых в ВУЗе, был прослушан курс по SQL, на котором меня научили составлять реляционные базы данных, сложные запросы к ним.</p>
          <p>В том числе я получил знания по математическому анализу, теории вероятностей, математической статистике и многим другим математическим предметам.</p>
          <p>Большое количество предметов требовало колоссальных объёмов отчётной деятельности в разных формах с различными требованиями. Благодаря этому я научился грамотно оформлять отчёты в соответствии с требованиями заказчиков.</p>
          <p class="col-md-8 fs-4">ЛИТ 1533</p>
          <p>В лицее на уроках программирования я получил навыки в написании оконных приложений на языке C#, знания по которому я в дальнейшем расширял с помощью онлайн курсов и изучения соответствующей документации.</p>
          <p class="col-md-8 fs-4">CLAC</p>
          <p>Помимо школьных уроков и курса Английского языка в лицее и ВУЗе я посетил летнюю школу в Великобритании, где получил практические навыки и углублённые теоретические знания, что во многом способствовало моему практическому применению английского языка в устной и письменной форме при переписке, изучении оригинальных неадаптированных источников во время написания дипломной работы по моей специальности. </p>
      </div>
    </div>
</body>
    <footer class="pt-3 mt-4 text-muted border-top">
        <p class="mb-1">Контактная информация:</p>
        <p class="mb-1"> e-mail:   ovechkin.vitaly.2000@gmail.com</p>
        <p class="mb-1"> телефон:  +7(917)-505-32-31</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{% url 'homeru' %}">На главную</a></li>
        <li class="list-inline-item"><a href="{% url 'commru' %}">Обратная связь</a></li>
      <li class="list-inline-item"><a href="{% url 'studen' %}">Switch to English</a></li>
    </ul>
    </footer>
</html>